/* MyListingCard.module.css */
.card {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 345px
  }

.cardMedia {
    height: 300px
}
.thumbnail {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.title {
    margin: 0 0 1rem 0;
    color: brown;
}

.price {
    color: green;
    font-weight: bold;
}

@media (width <870px) {
    .card {
        border: 0.5px solid #ccc;
        border-radius: 0.4rem;
        padding: 0.5rem;
        width: 300px;
      }
      .cardMedia {
        height: 290px
    }
  }

  @media (width <670px) {
    .card {
        border: 0.4px solid #ccc;
        border-radius: 0.3rem;
        padding: 0.4rem;
        width: 290px;
      }
      .cardMedia {
        height: 280px
    }
  }

  