
.mylistings {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0; /* or any desired gap between grid items */
    margin: 0;
}

@media (width <870px) {
    .mylistings {
        display: flex;
        flex-direction: column;
      }
  }

  @media (width <670px) {
    .mylistings {
        display: flex;
        flex-direction: column;
      }
  }